body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('pexels-photo-92961.jpeg');
    background-size:cover;
    font-family: 'Pacifico', cursive;
}
footer{
    color:oldlace;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-brand{
    color:oldlace;
    font-size:xx-large;
}
.navbar-nav >li >a{
    color:oldlace;
    font-size:xx-large;
    align-items:center;
}
.navbar-nav > li >a:hover{
    background-color:dimgrey;
    opacity:1;
    
    
}
h2{
    font-family:inherit;
    color:orangered;
    text-shadow:20px 20px 20px #000000;
}
.thumbnail{
    background-color:oldlace;
}
span{
    color:oldlace;
}
.navbar-link{
    color:oldlace;
}
